In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bambous Virieux,MU,2022-02-12 14:49:54,-20.3428,57.7575,82.65,74,20,6.91
1,1,Dingle,PH,2022-02-12 14:49:55,10.9995,122.6711,75.16,91,95,8.86
2,2,Windhoek,NaN,2022-02-12 14:49:55,-22.5594,17.0832,74.10,56,100,1.01
3,3,Butaritari,KI,2022-02-12 14:49:56,3.0707,172.7902,81.72,79,43,16.35
4,4,Bengkulu,ID,2022-02-12 14:49:56,-3.8004,102.2655,77.61,85,100,5.08

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
#fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bambous Virieux,MU,2022-02-12 14:49:54,-20.3428,57.7575,82.65,74,20,6.91
1,1,Dingle,PH,2022-02-12 14:49:55,10.9995,122.6711,75.16,91,95,8.86
3,3,Butaritari,KI,2022-02-12 14:49:56,3.0707,172.7902,81.72,79,43,16.35
4,4,Bengkulu,ID,2022-02-12 14:49:56,-3.8004,102.2655,77.61,85,100,5.08
5,5,San Policarpo,PH,2022-02-12 14:49:57,12.1791,125.5072,78.49,86,100,13.00
6,6,Standerton,ZA,2022-02-12 14:49:57,-26.9337,29.2415,82.62,16,43,9.55
7,7,Grand Gaube,MU,2022-02-12 14:49:57,-20.0064,57.6608,82.80,69,75,3.00
8,8,Kruisfontein,ZA,2022-02-12 14:49:58,-34.0033,24.7314,80.17,65,39,16.53
9,9,Port Alfred,ZA,2022-02-12 14:49:59,-33.5906,26.8910,80.51,78,9,18.75
12,12,Sao Filipe,CV,2022-02-12 14:50:00,14.8961,-24.4956,80.69,42,85,18.68

In [12]:
preferred_cities_df.count()

City_ID       188
City          188
Country       184
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0   Bambous Virieux      MU     82.65 -20.3428   57.7575
1            Dingle      PH     75.16  10.9995  122.6711
3        Butaritari      KI     81.72   3.0707  172.7902
4          Bengkulu      ID     77.61  -3.8004  102.2655
5     San Policarpo      PH     78.49  12.1791  125.5072
6        Standerton      ZA     82.62 -26.9337   29.2415
7       Grand Gaube      MU     82.80 -20.0064   57.6608
8      Kruisfontein      ZA     80.17 -34.0033   24.7314
9       Port Alfred      ZA     80.51 -33.5906   26.8910
12       Sao Filipe      CV     80.69  14.8961  -24.4956

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bambous Virieux,MU,82.65,-20.3428,57.7575,Casa Tia Villa
1,Dingle,PH,75.16,10.9995,122.6711,SEGAYA PROPERTY
3,Butaritari,KI,81.72,3.0707,172.7902,Isles Sunset Lodge
4,Bengkulu,ID,77.61,-3.8004,102.2655,Grage Hotel Bengkulu
5,San Policarpo,PH,78.49,12.1791,125.5072,Agapita M. Nicart
6,Standerton,ZA,82.62,-26.9337,29.2415,Terrace Lofts
7,Grand Gaube,MU,82.80,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
8,Kruisfontein,ZA,80.17,-34.0033,24.7314,Oyster Bay House Rental
9,Port Alfred,ZA,80.51,-33.5906,26.8910,The Halyards Hotel
12,Sao Filipe,CV,80.69,14.8961,-24.4956,Hotel Xaguate

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#info_box_template = """
#<dl>
#<dt>Name</dt><dd>{column1}</dd>
#<dt>Another name</dt><dd>{column2}</dd>
#</dl>
#""

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))