## Deliverable 2. Create a Customer Travel Destinations Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import gmaps
import requests

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [21]:
# 1. Import the WeatherPy_Database.csv file. 
city_data_df = pd.read_csv("C:/Users/sokim/OneDrive/Desktop/AnalysisProjects/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Yantongshan,CN,43.2919,126.0094,-1.34,97,10,2.35,clear sky
1,1,Hilo,US,19.7297,-155.0900,80.33,65,0,7.00,clear sky
2,2,Bambous Virieux,MU,-20.3428,57.7575,80.85,83,75,5.75,light intensity shower rain
3,3,San Cristobal,VE,7.7669,-72.2250,75.38,55,93,2.55,overcast clouds
4,4,Mount Gambier,AU,-37.8333,140.7667,71.51,53,87,10.36,overcast clouds

In [22]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Weather Description     object
dtype: object

In [23]:
...# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Hilo,US,19.7297,-155.0900,80.33,65,0,7.00,clear sky
2,2,Bambous Virieux,MU,-20.3428,57.7575,80.85,83,75,5.75,light intensity shower rain
3,3,San Cristobal,VE,7.7669,-72.2250,75.38,55,93,2.55,overcast clouds
6,6,Moerai,PF,-22.4333,-151.3333,79.99,69,99,4.54,light rain
8,8,Atuona,PF,-9.8000,-139.0333,77.59,78,11,12.55,light rain
10,10,Kapaa,US,22.0752,-159.3190,78.78,74,75,6.91,broken clouds
20,20,Kavieng,PG,-2.5744,150.7967,81.90,76,100,3.60,light rain
23,23,Avarua,CK,-21.2078,-159.7750,77.05,88,100,5.75,moderate rain
27,27,Kuala Terengganu,MY,5.3302,103.1408,75.15,100,20,3.44,few clouds
30,30,Puerto Ayora,EC,-0.7393,-90.3518,85.96,87,91,5.01,overcast clouds

In [28]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City_ID                183
City                   183
Country                183
Lat                    183
Lng                    183
Max Temp               183
Humidity               183
Cloudiness             183
Wind Speed             183
Weather Description    183
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [30]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Hilo,US,80.33,clear sky,19.7297,-155.0900,
2,Bambous Virieux,MU,80.85,light intensity shower rain,-20.3428,57.7575,
3,San Cristobal,VE,75.38,overcast clouds,7.7669,-72.2250,
6,Moerai,PF,79.99,light rain,-22.4333,-151.3333,
8,Atuona,PF,77.59,light rain,-9.8000,-139.0333,
10,Kapaa,US,78.78,broken clouds,22.0752,-159.3190,
20,Kavieng,PG,81.90,light rain,-2.5744,150.7967,
23,Avarua,CK,77.05,moderate rain,-21.2078,-159.7750,
27,Kuala Terengganu,MY,75.15,few clouds,5.3302,103.1408,
30,Puerto Ayora,EC,85.96,overcast clouds,-0.7393,-90.3518,

In [32]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Hilo,US,80.33,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Bambous Virieux,MU,80.85,light intensity shower rain,-20.3428,57.7575,Casa Tia Villa
3,San Cristobal,VE,75.38,overcast clouds,7.7669,-72.2250,Posada Villaven C.A.
6,Moerai,PF,79.99,light rain,-22.4333,-151.3333,Le Manotel
8,Atuona,PF,77.59,light rain,-9.8000,-139.0333,Villa Enata
10,Kapaa,US,78.78,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
20,Kavieng,PG,81.90,light rain,-2.5744,150.7967,Nusa Island Retreat
23,Avarua,CK,77.05,moderate rain,-21.2078,-159.7750,Paradise Inn
27,Kuala Terengganu,MY,75.15,few clouds,5.3302,103.1408,Hotel Grand Continental Kuala Terengganu (4 Star)
30,Puerto Ayora,EC,85.96,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [ ]:
# 7. Drop the rows where there is no Hotel Name.

In [36]:
# 8a. Create the output File (CSV)
output_data_file = "C:/Users/sokim/OneDrive/Desktop/AnalysisProjects/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [41]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))